NODE_ENV=development
DISCORD_TOKEN=<you_discord_token>
DISCORD_CHANNEL=<team_aversen_code_channel_id>
DISCORD_GIVEAWAY_CHANNEL=816794401694679080,816038964510720062,816270683277492225
KEYDROP_TOKEN=
KEYDROP_REGION=br